<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>FIFA ONLINE4 Your Play Style</title>
    </head>
<body>
    <div class="navbar navbar-light bg-light text-center">
        <div class="container">
        
        <a href="#" class="navbar-brand">
        <strong>4-4-2 Formation</strong>
        </a>
    </div>
    </div>
    <section class="py-5 text-center container" >
    <div> 
        <h1 class="fw-bolder">
            <strong>4-4-2 </strong>
        </h1>
        <img src="https://ifh.cc/g/XNLZtT.jpg" width="1000" height="800">
        <h3 class="fw-bolder">
            <strong>GK 티보 쿠르트와 LB(LWB) 테오 에르난데스 LCB 안토니오 뤼디거 RCB 차두리 RB(RWB) 리스 제임스 LM 고정운 LCM 루드 굴리트 RCM 미하엘 발락 RM 차범근 LS 호나우두 RS 크리스티아누 호날두</strong>
        </h3>
        <img src="https://ifh.cc/g/pMbNSy.jpg" width="1000" height="800">
        <h3 class="fw-bolder">
            <strong>GK 이범영 LB(LWB) 벤 칠웰 LCB 김민재 RCB 라파엘 바란 RB 김태환 (RWB T. 알렉산더-아놀드) LM 이반 페리시치 LCM 미하엘 발락 RCM 기성용 RM 카카 LS 박주영 RS 호나우두</strong>
        </h3>
    </div>
    </section>
    <p>OpenAPI 제공 NEXON</p>
</body>
</html>